<!-- Navigation -->
<nav class="navbar navbar-fixed-top navbar-toggleable-md navbar-light" id="mainNav">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
    </button>
    <div class="container">
        <!-- <a class="navbar-brand" href="#page-top">PhotoPop!</a> -->
        <%= link_to root_path, class: "navbar-brand" do %>
          PhotoPop!
        <% end %>

        <div class="collapse navbar-collapse" id="navbarExample">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <%= link_to 'My Photos','/home/index' %>
                </li>



                <li class="nav-item">
                  <%= link_to 'Log Out','/' %>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section class="cta">
    <div class="cta-content">
        <div class="container">

            <a href="#request" class="btn btn-outline btn-xl" data-toggle="modal" data-target="#request-photographer">Request Photographer</a>
        </div>
    </div>
    <div class="overlay"></div>
</section>
<section class="features" id="features">
    <div class="container">
        <div class="section-heading text-center">
            <h2> Capture what matters most, anytime. Anywhere.</h2>
            <p class="text-muted">Never miss a moment again <i class="fa fa-heart"></i></h2></p>
            <hr>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <!-- <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait white">
                        <div class="device">
                            <div class="screen">
                                Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else!
                                <img src="img/demo-screen-1.jpg" class="img-fluid" alt=""> </div>
                            <div class="button">
                                You can hook the "home button" to some JavaScript events or just remove it
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="col-lg-8">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="feature-item">
                                <i class="icon-screen-smartphone text-primary"></i>
                                <h3>First, Request a Photographer </h3>
                                <p class="text-muted">Whenever you need a momemnt captured, click on the icon in your app "Request a Photographer" to find someone close by to come and take your photo</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="feature-item">
                                <i class="icon-present text-primary"></i>
                                <h3>What's the Occasion?</h3>
                                <p class="text-muted">Is it a friends baby shower next week? Popping the question tonight? Maybe just out with some friends and you'd rather be in front of the camera instead of behind it. Whatever the occcasion, let your photographer know! You can choose a time, location, and specify how long you need your photographer for. </p>
                            </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                            <div class="feature-item">
                                <i class="icon-camera text-primary"></i>
                                <h3> Request Accepted! </h3>
                                <p class="text-muted">Awesome! We have found your personal photographer! They have been notified with all of your requests and details. </p>
                            </div>
                        </div>
                      </div>
                      <div class="row">
                         <div class="col-lg-6">
                            <div class="feature-item">
                                <i class="icon-lock-open text-primary"></i>
                                <h3>Lock it in</h3>
                                <p class="text-muted"> Finally, just confirm with your photographer that you are ready to go, and you're all set! Once your photos are taken, you will be able to see them all saved right in your app!</p>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
</section>

<div class="modal fade" id="request-photographer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Let's get started</h4>
      </div>
      <div class="modal-body">

        <form class="form-horizontal">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Name:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputEmail3" placeholder="">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Contact:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputPassword3" placeholder="phone number">
    </div>
  </div>





  <!-- <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">When</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputPassword3" placeholder="Date and Time">
    </div>
  </div> -->
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Location:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputPassword3" placeholder="">
    </div>
  </div>
 <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Occassion:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputPassword3" placeholder="Out with friends, Birthday dinner, Family gathering, Proposal, etc.">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Professional Camera
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Needed for entire event
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Special Instructions:</label>
    <div class="col-sm-10">
      <textarea class="form-control" rows="3"placeholder="i.e; Tonight I'm proposing to My girlfriend I don't want her to know that there is someone taking pictures. Please be sure to capture as many candid photos as possible through the entire proposal. We will be right in front of the eiffel tower"></textarea>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
    </div>
  </div>
</form>





      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-warning">Send Request</button>
      </div>
    </div>
  </div>
</div>



<footer>
    <div class="container">
        <p>&copy; 2017 PhotoPop! All Rights Reserved.</p>

    </div>
</footer>
