<header class="masthead">
  <div class="container">
    <div class="page-header">
      <h1>
        <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
        My Photos
      </h1>
    </div>
    <div class="row">
      <% current_user.photos.each do |photo| %>
        <% if photo.image_url(:medium) %>
          <%= image_tag(photo.image_url(:medium), class: "photo-image") %>
        <% end %>
      <% end %>
    </div>
  </div>
</header>
