<div class="page-header">
  <h1>

  </h1>
</div>


<div class="jumbotron">
  <div>
    <span class="btn btn-block btn-social btn-instagram">
     <span class="fa fa-instagram"></span> Sign in with Instagram
  </div>

  <div>
     <span class="btn btn-block btn-social btn-facebook">
       <span class="fa fa-facebook"></span> Sign in with Facebook
  </div>
</div>
