    <!-- Navigation -->
    <nav class="navbar navbar-fixed-top navbar-toggleable-md navbar-light" id="mainNav">
        <div class="container">

          <%= link_to root_path, class: "navbar-brand" do %>
            PhotoPop!
          <% end %>

        </div>
    </nav>

    <header class="masthead">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <h1>Find anyone, anywhere, at anytime to pop up and take your photos so that you'll never miss a moment or be left out of the picture again. </h1>

                            <div class="btn btn-outline btn-xl"><%= link_to 'Login with facebook', auth_path(provider: 'facebook') %>
                            </div>

                            <div class="btn btn-outline btn-xl"><%= link_to 'Login with Instagram', auth_path(provider: 'facebook') %>
                            </div>



                            <!-- <a href="#download"class="btn btn-outline btn-xl">Sign in with <span class="fa fa-instagram"></span>Instagram</a> -->
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait gold">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <%= image_tag("Friends-and-Family-1.jpg", class: "landing-page-phone-image") %>
                                </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <footer>
        <div class="container">
            <p>&copy; 2017 PhotoPop! All Rights Reserved.</p>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="#">Privacy</a>
                </li>
                <li class="list-inline-item">
                    <a href="#">Terms</a>
                </li>
                <li class="list-inline-item">
                    <a href="#">FAQ</a>
                </li>
            </ul>
        </div>
    </footer>
</body>
</html>
