<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="text/html">
    <meta http-equiv="Content-Type" >
  </head>
  <body>
    <section class="features2" id="features2">
      <div class="container">
        <div class="section-heading text-center">
          <h2> <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
            Hi this is a test for <%= @photographer.name %> to go to this link:</h2>
        </div>
        <div class="jumbotron">
        <a href="<%= @request_url %>"><%= @request_url %></a>
        </div>
      </div>
    </section>
  </body>
</html>
