<div class="modal fade" id="picture-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <%= image_tag(photo.image_url(:medium), class: "my-photo img-thumbnail") %>

    </div>
  </div>
</div>
